USE [PartnerOrders]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 29.11.2025 1:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialTypeID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[MaterialName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PackageQuantity] [int] NOT NULL,
	[UnitOfMeasure] [nvarchar](50) NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[MinStockLevel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialTypes]    Script Date: 29.11.2025 1:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialTypes](
	[MaterialTypeID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialTypeName] [nvarchar](100) NOT NULL,
	[DefectPercentage] [decimal](10, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerRequests]    Script Date: 29.11.2025 1:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[PartnerID] [int] NOT NULL,
	[RequestDate] [datetime2](7) NULL,
	[Status] [nvarchar](50) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 29.11.2025 1:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[PartnerID] [int] IDENTITY(1,1) NOT NULL,
	[PartnerType] [nvarchar](50) NOT NULL,
	[PartnerName] [nvarchar](255) NOT NULL,
	[DirectorName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[LegalAddress] [nvarchar](500) NOT NULL,
	[INN] [nvarchar](20) NOT NULL,
	[Rating] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PartnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaterials]    Script Date: 29.11.2025 1:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaterials](
	[ProductMaterialID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[MaterialID] [int] NOT NULL,
	[MaterialQuantity] [decimal](10, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductMaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 29.11.2025 1:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeID] [int] NOT NULL,
	[ProductName] [nvarchar](500) NOT NULL,
	[ArticleNumber] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[MinPartnerPrice] [decimal](18, 2) NOT NULL,
	[PackageLength] [decimal](10, 2) NULL,
	[PackageWidth] [decimal](10, 2) NULL,
	[PackageHeight] [decimal](10, 2) NULL,
	[WeightWithoutPackage] [decimal](10, 2) NULL,
	[WeightWithPackage] [decimal](10, 2) NULL,
	[StandardNumber] [nvarchar](100) NULL,
	[ProductionTime] [int] NULL,
	[CostPrice] [decimal](18, 2) NULL,
	[WorkshopNumber] [int] NULL,
	[WorkersCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStock]    Script Date: 29.11.2025 1:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStock](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[ReservedStock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 29.11.2025 1:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ProductTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeName] [nvarchar](100) NOT NULL,
	[ProductTypeCoefficient] [decimal](10, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestItems]    Script Date: 29.11.2025 1:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestItems](
	[RequestItemID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 29.11.2025 1:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierType] [nvarchar](50) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[INN] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([MaterialID], [MaterialTypeID], [SupplierID], [MaterialName], [Description], [PackageQuantity], [UnitOfMeasure], [Cost], [CurrentStock], [MinStockLevel]) VALUES (1, 1, 1, N'Древесная стружка хвойных пород', NULL, 50, N'кг', CAST(45.50 AS Decimal(18, 2)), 2500, 500)
INSERT [dbo].[Materials] ([MaterialID], [MaterialTypeID], [SupplierID], [MaterialName], [Description], [PackageQuantity], [UnitOfMeasure], [Cost], [CurrentStock], [MinStockLevel]) VALUES (2, 1, 1, N'Древесная стружка лиственных пород', NULL, 50, N'кг', CAST(52.30 AS Decimal(18, 2)), 1800, 400)
INSERT [dbo].[Materials] ([MaterialID], [MaterialTypeID], [SupplierID], [MaterialName], [Description], [PackageQuantity], [UnitOfMeasure], [Cost], [CurrentStock], [MinStockLevel]) VALUES (3, 2, 2, N'Клей ПВА строительный', NULL, 20, N'л', CAST(185.00 AS Decimal(18, 2)), 800, 200)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialTypes] ON 

INSERT [dbo].[MaterialTypes] ([MaterialTypeID], [MaterialTypeName], [DefectPercentage]) VALUES (1, N'Тип материала 1', CAST(0.0020 AS Decimal(10, 4)))
INSERT [dbo].[MaterialTypes] ([MaterialTypeID], [MaterialTypeName], [DefectPercentage]) VALUES (2, N'Тип материала 2', CAST(0.0050 AS Decimal(10, 4)))
INSERT [dbo].[MaterialTypes] ([MaterialTypeID], [MaterialTypeName], [DefectPercentage]) VALUES (3, N'Тип материала 3', CAST(0.0030 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[MaterialTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerRequests] ON 

INSERT [dbo].[PartnerRequests] ([RequestID], [PartnerID], [RequestDate], [Status], [TotalAmount]) VALUES (1, 4, CAST(N'2025-11-28T21:16:14.3633333' AS DateTime2), N'Выполнена', CAST(19890720.00 AS Decimal(18, 2)))
INSERT [dbo].[PartnerRequests] ([RequestID], [PartnerID], [RequestDate], [Status], [TotalAmount]) VALUES (2, 3, CAST(N'2025-11-28T21:16:14.3633333' AS DateTime2), N'Новая', CAST(5100000.00 AS Decimal(18, 2)))
INSERT [dbo].[PartnerRequests] ([RequestID], [PartnerID], [RequestDate], [Status], [TotalAmount]) VALUES (3, 5, CAST(N'2025-11-28T21:16:14.3633333' AS DateTime2), N'Новая', CAST(10200000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PartnerRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([PartnerID], [PartnerType], [PartnerName], [DirectorName], [Email], [Phone], [LegalAddress], [INN], [Rating]) VALUES (1, N'ЗАО', N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001, Московская область, город Одинцово, уд. Ленина, 21', N'9432455179', 5)
INSERT [dbo].[Partners] ([PartnerID], [PartnerType], [PartnerName], [DirectorName], [Email], [Phone], [LegalAddress], [INN], [Rating]) VALUES (2, N'ЗАО', N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', N'7803888520', 3)
INSERT [dbo].[Partners] ([PartnerID], [PartnerType], [PartnerName], [DirectorName], [Email], [Phone], [LegalAddress], [INN], [Rating]) VALUES (3, N'ООО', N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340, Калининградская область, город Светлый, ул. Морская, 12', N'8430391035', 4)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductMaterials] ON 

INSERT [dbo].[ProductMaterials] ([ProductMaterialID], [ProductID], [MaterialID], [MaterialQuantity]) VALUES (1, 1, 7, CAST(2.5000 AS Decimal(10, 4)))
INSERT [dbo].[ProductMaterials] ([ProductMaterialID], [ProductID], [MaterialID], [MaterialQuantity]) VALUES (2, 2, 7, CAST(1.8000 AS Decimal(10, 4)))
INSERT [dbo].[ProductMaterials] ([ProductMaterialID], [ProductID], [MaterialID], [MaterialQuantity]) VALUES (3, 3, 7, CAST(2.1000 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[ProductMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductTypeID], [ProductName], [ArticleNumber], [Description], [MinPartnerPrice], [PackageLength], [PackageWidth], [PackageHeight], [WeightWithoutPackage], [WeightWithPackage], [StandardNumber], [ProductionTime], [CostPrice], [WorkshopNumber], [WorkersCount]) VALUES (1, 1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', N'6549922', NULL, CAST(5100.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL, 3, CAST(3060.00 AS Decimal(18, 2)), 1, 3)
INSERT [dbo].[Products] ([ProductID], [ProductTypeID], [ProductName], [ArticleNumber], [Description], [MinPartnerPrice], [PackageLength], [PackageWidth], [PackageHeight], [WeightWithoutPackage], [WeightWithPackage], [StandardNumber], [ProductionTime], [CostPrice], [WorkshopNumber], [WorkersCount]) VALUES (2, 2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', N'7018556', NULL, CAST(1880.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL, 5, CAST(1128.00 AS Decimal(18, 2)), 2, 4)
INSERT [dbo].[Products] ([ProductID], [ProductTypeID], [ProductName], [ArticleNumber], [Description], [MinPartnerPrice], [PackageLength], [PackageWidth], [PackageHeight], [WeightWithoutPackage], [WeightWithPackage], [StandardNumber], [ProductionTime], [CostPrice], [WorkshopNumber], [WorkersCount]) VALUES (3, 4, N'Бетонная плитка Белый кирпич микс 30х7,3 см', N'5028272', NULL, CAST(2080.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL, 6, CAST(1248.00 AS Decimal(18, 2)), 4, 4)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductStock] ON 

INSERT [dbo].[ProductStock] ([StockID], [ProductID], [CurrentStock], [ReservedStock]) VALUES (1, 3, 1012, 0)
INSERT [dbo].[ProductStock] ([StockID], [ProductID], [CurrentStock], [ReservedStock]) VALUES (2, 7, 601, 0)
INSERT [dbo].[ProductStock] ([StockID], [ProductID], [CurrentStock], [ReservedStock]) VALUES (3, 18, 103, 0)
SET IDENTITY_INSERT [dbo].[ProductStock] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductTypeName], [ProductTypeCoefficient]) VALUES (1, N'Древесно-плитные материалы', CAST(1.5000 AS Decimal(10, 4)))
INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductTypeName], [ProductTypeCoefficient]) VALUES (2, N'Декоративные панели', CAST(3.5000 AS Decimal(10, 4)))
INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductTypeName], [ProductTypeCoefficient]) VALUES (3, N'Плитка', CAST(5.2500 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestItems] ON 

INSERT [dbo].[RequestItems] ([RequestItemID], [RequestID], [ProductID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (1, 2, 1, 1000, CAST(5100.00 AS Decimal(18, 2)), CAST(5100000.00 AS Decimal(18, 2)))
INSERT [dbo].[RequestItems] ([RequestItemID], [RequestID], [ProductID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (2, 3, 1, 2000, CAST(5100.00 AS Decimal(18, 2)), CAST(10200000.00 AS Decimal(18, 2)))
INSERT [dbo].[RequestItems] ([RequestItemID], [RequestID], [ProductID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (4, 5, 4, 2000, CAST(2500.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[RequestItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierType], [SupplierName], [INN]) VALUES (1, N'ООО', N'Деревообрабатывающий комбинат "Северный"', N'7701234567')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierType], [SupplierName], [INN]) VALUES (2, N'ЗАО', N'Химические технологии', N'7702345678')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierType], [SupplierName], [INN]) VALUES (3, N'ПАО', N'Металлопрокатный завод', N'7703456789')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Material__AB21FEE52CAAC1EC]    Script Date: 29.11.2025 1:10:02 ******/
ALTER TABLE [dbo].[MaterialTypes] ADD UNIQUE NONCLUSTERED 
(
	[MaterialTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Partners__3AEDA7789284A950]    Script Date: 29.11.2025 1:10:02 ******/
ALTER TABLE [dbo].[Partners] ADD UNIQUE NONCLUSTERED 
(
	[PartnerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Partners__C490CCF5EE316BA1]    Script Date: 29.11.2025 1:10:02 ******/
ALTER TABLE [dbo].[Partners] ADD UNIQUE NONCLUSTERED 
(
	[INN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__3C991142B2FB0CE3]    Script Date: 29.11.2025 1:10:02 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[ArticleNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductT__8DC09F3FC134A91C]    Script Date: 29.11.2025 1:10:02 ******/
ALTER TABLE [dbo].[ProductTypes] ADD UNIQUE NONCLUSTERED 
(
	[ProductTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplier__C490CCF57171B918]    Script Date: 29.11.2025 1:10:02 ******/
ALTER TABLE [dbo].[Suppliers] ADD UNIQUE NONCLUSTERED 
(
	[INN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Materials] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[Materials] ADD  DEFAULT ((0)) FOR [MinStockLevel]
GO
ALTER TABLE [dbo].[PartnerRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[PartnerRequests] ADD  DEFAULT ('Новая') FOR [Status]
GO
ALTER TABLE [dbo].[ProductStock] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[ProductStock] ADD  DEFAULT ((0)) FOR [ReservedStock]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD FOREIGN KEY([MaterialTypeID])
REFERENCES [dbo].[MaterialTypes] ([MaterialTypeID])
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[PartnerRequests]  WITH CHECK ADD FOREIGN KEY([PartnerID])
REFERENCES [dbo].[Partners] ([PartnerID])
GO
ALTER TABLE [dbo].[ProductMaterials]  WITH CHECK ADD FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Materials] ([MaterialID])
GO
ALTER TABLE [dbo].[ProductMaterials]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductTypes] ([ProductTypeID])
GO
ALTER TABLE [dbo].[ProductStock]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[RequestItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[RequestItems]  WITH CHECK ADD FOREIGN KEY([RequestID])
REFERENCES [dbo].[PartnerRequests] ([RequestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PartnerRequests]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD CHECK  (([Rating]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([MinPartnerPrice]>=(0)))
GO
ALTER TABLE [dbo].[RequestItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[RequestItems]  WITH CHECK ADD CHECK  (([TotalPrice]>=(0)))
GO
ALTER TABLE [dbo].[RequestItems]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
